img{
  width: 100%
***REMOVED***

.landing {
  position: relative;
  background: url('./img/fitness_run.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
***REMOVED***
.landing-inner {
  padding-top: 80px;
***REMOVED***
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
***REMOVED***
.card-form {
  opacity: 0.9;
***REMOVED***

.latest-profiles-img {
  width: 40px;
  height: 40px;
***REMOVED***

.form-control::placeholder {
  color: #bbb !important;
***REMOVED***
