<!DOCTYPE html>
<html>
  <head>
    <title>{{title***REMOVED******REMOVED***</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body***REMOVED******REMOVED******REMOVED***
  </body>
</html>
